.project {
    margin: 1rem;
    justify-content: center;
   
}

.background {
    position: relative;
    background-image: url(../pictures/compute.png);
    min-height: 92vh;
}

.top {
    height:8vh
}

.portfolio {
    
    align-items: center;
}
